**/.DS_Store
**/node_modules

# Git/Github files
.git
.github

# VS Code Configuration
.vscode

# Build files
docker
enviroment
vendor
nginx
php
Dockerfile
Dockerfile.old
docker-compose.yaml
README.md
